{{#markdown}}
The base font acts as a parallel solution to the global image sprite. The icon font really shines on mobile and HiDPI devices where it reveals all of its vector awesomeness
{{/markdown}}

<div class="bx">
  <div class="gr mbm">
    {{#each data}}
        <div class="gu gu-1of5 gu-m-1of1 icon">
          <i class="vicon notranslate fl mbxl mrs pls pts" aria-hidden="true">{{#if code}}{{code}}{{else}}{{token}}{{/if}}</i>
          <span class="gray">{{title}}</span>
          <span class="code-markup">
            {{#if code}}
              {{#markdown}}
```html
{{code}}
```
              {{/markdown}}
            {{/if}}
          </span>
          {{#if token}}
            {{#markdown}}
```css
{{{token}}}
```
            {{/markdown}}
          {{/if}}
        </div>
    {{/each}}
  </div>
</div>
