---
title: "Forms"
---

<div class="bx">

<div class="page-header">
    <h1 class="h1">Forms
      <span class="sub">Four types of forms, control states, and extending form controls</span>
    </h1>
</div>

<div class="mtxl">
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Class</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Vertical (default)</th>
        <td><code class="language-css">.core-form</code></td>
        <td>Stacked, left-aligned labels over controls</td>
      </tr>
      <tr>
        <th>Inline</th>
        <td><code class="language-css">.core-form .form-inline</code></td>
        <td>Left-aligned label and inline-block controls for compact style</td>
      </tr>
      <tr>
        <th>Horizontal</th>
        <td><code class="language-css">.core-form .form-horizontal</code></td>
        <td>Float left, right-aligned labels on same line as controls</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mtxl">
  <div class="gr grsxl mbxl">
    <div class="gu gu-1of4 gu-m-1of1">
      <h3 class="h3" id="basics">Basic form</h3>
    </div>
    <div class="gu gu-last">
      <form class="core-form well">
        <label>Label name</label>
        <input type="text" class="span3" placeholder="Type something…" /> <span class="help-inline">Associated help text!</span>
        <p class="help-block">Example block-level help text here.</p>
        <label class="checkbox">
          <input type="checkbox" /> Check me out
        </label>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
<pre><code class="language-markup">&lt;form class="well"&gt;
&lt;label&gt;Label name&lt;/label&gt;
&lt;input type="text" class="span3" placeholder="Type something…"&gt;
&lt;span class="help-inline"&gt;Associated help text!&lt;/span&gt;
&lt;label class="checkbox"&gt;
&lt;input type="checkbox"&gt; Check me out
&lt;/label&gt;
&lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;
&lt;/form&gt;</code></pre>
    </div>
  </div>

<div class="gr grsxl mbxl">
  <div class="gu gu-1of4 gu-m-1of1">
    <h3 class="h3" id="placeholders">Placeholders</h3>
    <p>This is a polyfill to simulate the
      <code class="language-markup">placeholder=""</code> attribute for all browsers
      on
      <code class="language-markup">&lt;input&gt;</code> or
      <code class="language-markup">&lt;textarea&gt;</code> elements.
    </p>
  </div>
  <div class="gu gu-last">

    <form class="core-form form-horizontal">
      <div class="control-group">
        <label class="control-label">Placeholder (text)</label>
        <div class="controls">
          <span class="placeholding">
            <input class="input-xlarge" type="text" />
            <label class="placeholder">I’m a placeholder with a text input</label>
          </span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Placeholder (password)</label>
        <div class="controls">
          <span class="placeholding">
            <input class="input-xlarge" type="password" />
            <label class="placeholder">I’m a placeholder with a password input</label>
          </span>
        </div>
      </div>
    </form>

    <p class="mbxs">Call the JavaScript component at the end of your HTML page, for example just before closing the <code class="language-markup">&lt;body&gt;</code> tag:</p>

    <pre><code class="language-markup">&lt;script src="{{path}}/release/js/placeholder.js"&gt;&lt;/script&gt;</code></pre>

    <p class="mtm mbxs">Then the code for the input field is:</p>

    <pre><code class="language-markup">&lt;span class="placeholding"&gt;
  &lt;input type="text" /&gt;
  &lt;label class="placeholder"&gt;I’m a placeholder&lt;/label&gt;
&lt;/span&gt;</code></pre>

  </div>
</div>

<h3 class="h3" id="error-helpers">Field helpers for errors</h3>

<div class="gr grsxl mbxl pbl">
  <div class="gu gu-1of4">
    <p></p>
  </div>
  <div class="gu gu-1of4">

    <form class="core-form mbxl">
      <div class="bx-alert bx-alert-error-form mbl">
        <button type="button" class="bx-alert-close bootnode" data-comp="alert" data-event="click">
          <i class="vicon">×</i>
        </button>
        <i class="vicon bx-alert-icon">;</i>
        <div class="bx-alert-content">
          <p class="mvn">The following fields are marked as errors</p>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper">
            <input class="input-large" type="text" />
            <label class="placeholder">Error on text input (default left)</label>
            <span class="error-inline">Please type a valid email address</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper">
            <input class="input-large" type="text" />
            <label class="placeholder">Displaying multiple errors</label>
            <span class="error-inline">Error #1</span>
            <span class="error-inline hidden">Error #2</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper">
            <input class="input-large" type="password" />
            <label class="placeholder">Error on password input (default left)</label>
            <span class="error-inline">Please type a valid password</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper field-helper-bottom">
            <input class="input-large" type="text" />
            <label class="placeholder">Error on text input (bottom)</label>
            <span class="error-inline">Please type a valid email address</span>
          </span>
        </div>
      </div>
    </form>

    <form class="core-form ptxl">
      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper field-helper-flow">
            <input class="input-large" type="text" />
            <label class="placeholder">Text input</label>
            <span class="error-inline">Error in flow</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper field-helper-flow">
            <input class="input-large" type="text" />
            <label class="placeholder">Text input</label>
            <span class="error-inline">Another error in flow</span>
          </span>
        </div>
      </div>

      <div class="control-group mtl error">
        <div class="controls">
          <span class="placeholding field-helper field-helper-right">
            <input class="input-small" type="text" />
            <label class="placeholder">Text input</label>
            <span class="error-inline">On the right</span>
          </span>
        </div>
      </div>

    </form>

  </div>
  <div class="gu gu-last">
    <p class="mbxs">Using the class
      <code class="language-markup">error</code>
      on the
      <code class="language-markup">control-group</code>
      makes the field helper visible, otherwise it is hidden by default.
    </p>

    <pre><code class="language-markup">&lt;div class="control-group error"&gt;
  &lt;div class="controls"&gt;
    &lt;span class="field-helper"&gt;
      &lt;input type="text" /&gt;
      &lt;span class="error-inline"&gt;Error helper&lt;/span&gt;
    &lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

    <p class="mbxs">To display the field helper on bottom:</p>
    <pre><code class="language-markup">&lt;span class="field-helper field-helper-bottom"&gt;</code></pre>

    <p class="mbxs">To display the field helper on left:</p>
    <pre><code class="language-markup">&lt;span class="field-helper field-helper-left"&gt;</code></pre>

    <p class="mbxs">To display the field helper in the flow, below the field, not in an overlay:</p>
    <pre><code class="language-markup">&lt;span class="field-helper field-helper-flow"&gt;</code></pre>

    <p class="mbxs">Placeholders and error helpers can be used at the same time:</p>
    <pre><code class="language-markup">&lt;div class="control-group error"&gt;
  &lt;div class="controls"&gt;
    &lt;span class="placeholding field-helper"&gt;
      &lt;input type="text" /&gt;
      &lt;label class="placeholder"&gt;Placeholder&lt;/label&gt;
      &lt;span class="error-inline"&gt;Error helper&lt;/span&gt;
    &lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>
</div>

  <div class="gr grsxl">
    <div class="gu gu-1of4">
      <h3 class="h3" id="inline">Inline form</h3>
      <p>Inputs are block elements by default. They are inline-block with <code class="language-css">.form-inline</code> and <code class="language-css">.form-horizontal</code>.</p>
    </div>
    <div class="gu gu-last">
      <form class="core-form well form-inline">
        <input type="text" class="input-small" placeholder="Email" />
        <input type="password" class="input-small" placeholder="Password" />
        <label class="checkbox">
          <input type="checkbox" /> Remember me
        </label>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
<pre><code class="language-markup">&lt;form class="well form-inline"&gt;
&lt;input type="text" class="input-small" placeholder="Email"&gt;
&lt;input type="password" class="input-small" placeholder="Password"&gt;
&lt;label class="checkbox"&gt;
&lt;input type="checkbox"&gt; Remember me
&lt;/label&gt;
&lt;button type="submit" class="btn btn-default"&gt;Sign in&lt;/button&gt;
&lt;/form&gt;</code></pre>
    </div>
  </div>
</div>

<div class="mtxl">
  <h2 class="h2" id="horizontal">Horizontal forms</h2>
  <div class="gr grsxl">
    <div class="gu gu-1of4">
      <p>Here are the supported form elements:</p>

      <ul class="link-list">
        <li>text inputs (text, password, email, etc)</li>
        <li>checkbox</li>
        <li>radio</li>
        <li>select</li>
        <li>multiple select</li>
        <li>file input</li>
        <li>textarea</li>
      </ul>
    </div>
    <div class="gu gu-last">
      <form class="core-form form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Text input</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01" />
              <p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Checkbox</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1" />
                Option one is this and that - be sure to include why it's great
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select01">Select list</label>
            <div class="controls">
              <select id="select01">
                <option>something</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="fileInput">File input</label>
            <div class="controls">
              <input class="input-file" id="fileInput" type="file" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textarea">Textarea</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>
          <div class="form-actions ptm">
            <button type="submit" class="btn btn-secondary">Save changes</button>
            <button class="btn btn-default">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="gr grsxl">
    <div class="gu gu-1of4">
      <h3 class="h3">Example markup</h3>
      <p>Given the above example form layout, here's the markup associated with the first input and control group. The <code class="language-css">.control-group</code>, <code class="language-css">.control-label</code>, and <code class="language-css">.controls</code> classes are all required for styling.</p>
    </div>
    <div class="gu gu-last">
<pre><code class="language-markup">&lt;form class="form-horizontal"&gt;
&lt;fieldset&gt;
&lt;legend&gt;Legend text&lt;/legend&gt;
&lt;div class="control-group"&gt;
  &lt;label class="control-label" for="input01"&gt;Text input&lt;/label&gt;
  &lt;div class="controls"&gt;
    &lt;input type="text" class="input-xlarge" id="input01"&gt;
    &lt;p class="help-block"&gt;Supporting help text&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/fieldset&gt;
&lt;/form&gt;</code></pre>
    </div>
  </div>
</div>

<div class="gr grsxl mtxl">
<h2 class="h2" id="control-states">Form control states</h2>

<div class="gu gu-1of4">
<h3 class="h3">Redesigned browser states</h3>
  <p>Special styles are applied on top of focused and disabled states, when the browser supports it.</p>
  <h3 class="h3">Form validation</h3>
  <p>It also includes validation styles for errors, warnings, and success. To use, add the error class to the surrounding <code class="language-css">.control-group</code>.</p>
<pre><code class="language-markup">&lt;fieldset class="
  control-group error"&gt;
  …
&lt;/fieldset&gt;</code></pre>
</div>

<div class="gu gu-last">
  <form class="core-form form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Focused input</label>
        <div class="controls">
          <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Uneditable input</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">Some value here</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="disabledInput">Disabled input</label>
        <div class="controls">
          <input class="input-xlarge disabled" id="disabledInput" type="text" placeholder="Disabled input here…" disabled="disabled" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="optionsCheckbox2">Disabled checkbox</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="optionsCheckbox2" value="option1"  disabled="disabled" />
            This is a disabled checkbox
          </label>
        </div>
      </div>
      <div class="control-group disabled">
        <label class="control-label" for="optionsCheckbox3">Completely disabled</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="optionsCheckbox3" value="option1"  disabled="disabled" />
            This is a disabled checkbox
          </label>
          <p class="help-block">Contextual help in disabled state</p>
        </div>
      </div>

      <div class="control-group error">
        <label class="control-label" for="inputError">Input with error</label>
        <div class="controls">
          <input type="text" id="inputError" />
          <span class="help-inline">Please correct the error</span>
        </div>
      </div>

      <div class="control-group success">
        <label class="control-label" for="inputSuccess">Input with success</label>
        <div class="controls">
          <input type="text" id="inputSuccess" />
          <span class="help-inline"><i class="vicon control-success">v</i></span>
        </div>
      </div>

      <div class="control-group success">
        <label class="control-label" for="selectError">Select with success</label>
        <div class="controls">
          <select id="selectError">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <span class="help-inline"><i class="vicon control-success">v</i></span>
        </div>
      </div>

      <div class="form-actions ptm">
        <button type="submit" class="btn btn-secondary">Save changes</button>
        <button class="btn btn-default">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
</div>

<div class="gr grsxl mtxl">
<h2 class="h2" id="extending-controls">Extending form controls</h2>

<div class="gu gu-1of4">
  <p>To add help text for your form inputs, include inline help text with <code class="language-markup">&lt;span class="help-inline"&gt;</code> or a help text block with <code class="language-markup">&lt;p class="help-block"&gt;</code> after the input element.</p>
</div>

<div class="gu gu-last">
  <form class="core-form form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Alternate sizes</label>
        <div class="controls docs-input-sizes">
          <input class="input-mini" type="text" placeholder=".input-mini" />
          <input class="input-small" type="text" placeholder=".input-small" />
          <input class="input-medium" type="text" placeholder=".input-medium" />
          <p class="help-block">You may also use static classes that don't map to the grid, adapt to the responsive CSS styles, or account for varying types of controls (e.g., <code class="language-markup">&lt;input&gt;</code> vs. <code class="language-markup">&lt;select&gt;</code>).</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Alternate sizes</label>
        <div class="controls docs-input-sizes">
          <p>
            <select class="input-small">
              <option>.input-small</option>
            </select>
          </p>
          <p>
            <select class="input-medium">
              <option>.input-medium</option>
            </select>
          </p>
          <p>
            <select class="input-large">
              <option>.input-large</option>
            </select>
          </p>
          <p>
            <select class="input-xlarge">
              <option>.input-xlarge</option>
            </select>
          </p>
          <p>
            <select class="input-xxlarge">
              <option>.input-xxlarge</option>
            </select>
          </p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Full width</label>
        <div class="controls docs-input-sizes">
          <input class="input-fullwidth" type="text" placeholder=".input-fullwidth" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="append-btn-default">Append with button</label>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="append-btn-default" size="16" type="text" /><button class="btn btn-default" type="button">Go!</button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="append-btn-primary">Primary button</label>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="append-btn-primary" size="16" type="text" /><button class="btn btn-primary" type="button">Go!</button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="append-btn-tertiary">Tertiary button</label>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="append-btn-tertiary" size="16" type="text" /><button class="btn btn-tertiary" type="button">Go!</button>
          </div>
        </div>
      </div>

      <div class="control-group error">
        <label class="control-label" for="append-btn-default-error">Default button with error</label>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="append-btn-default-error" size="16" type="text" /><button class="btn btn-default" type="button">Go!</button>
          </div>
        </div>
      </div>
      <div class="control-group error">
        <label class="control-label" for="append-btn-primary-error">Primary button with error</label>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="append-btn-primary-error" size="16" type="text" /><button class="btn btn-primary" type="button">Go!</button>
          </div>
        </div>
      </div>
      <div class="control-group error">
        <label class="control-label" for="append-btn-tertiary-error">Tertiary button with error</label>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="append-btn-tertiary-error" size="16" type="text" /><button class="btn btn-tertiary" type="button">Go!</button>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inlineCheckboxes">Inline checkboxes</label>
        <div class="controls">
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" /> 1
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2" /> 2
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3" /> 3
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="optionsCheckboxList">Checkboxes</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="optionsCheckboxList1" value="option1" />
            Option one is this and that - be sure to include why it's great
          </label>
          <label class="checkbox">
            <input type="checkbox" name="optionsCheckboxList2" value="option2" />
            Option two can also be checked and included in form results
          </label>
          <label class="checkbox">
            <input type="checkbox" name="optionsCheckboxList3" value="option3" />
            Option three can - yes, you guessed it - also be checked and included in form results
          </label>
          <p class="help-block"><strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Radio buttons</label>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked" />
            Option one is this and that - be sure to include why it's great
          </label>
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
            Option two can is something else and selecting it will deselect option one
          </label>
        </div>
      </div>
      <div class="form-actions ptm">
        <button type="submit" class="btn btn-secondary">Save changes</button>
        <button class="btn btn-default">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
</div>

<div class="gr grsxl mtxl">
  <h3 class="h3" id="custom-radio-checkboxes">Custom radio &amp; checkboxes</h3>

  <div class="gu gu-1of4">
    <p>Only works in modern browsers, falls back to standard radio buttons in legacy browsers. These custom radio buttons are pure CSS3, no JavaScript required.</p>
  </div>

  <div class="gu gu-last">
    <form class="core-form form-horizontal">
      <div class="control-group">
        <label class="control-label">Horizontal radio buttons</label>
        <div class="controls">
          <label class="radio inline custom-radio mrl">
            <input type="radio" name="customRadioButtons1" checked="checked" />
            <span class="custom-radio-element"></span>
            Option one
          </label>
          <label class="radio inline custom-radio mrl">
            <input type="radio" name="customRadioButtons1" />
            <span class="custom-radio-element"></span>
            Option two
          </label>
          <label class="radio inline custom-radio mrl">
            <input type="radio" name="customRadioButtons1" />
            <span class="custom-radio-element"></span>
            Option three
          </label>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Vertical radio buttons</label>
        <div class="controls">
          <label class="radio custom-radio">
            <input type="radio" name="customRadioButtons2" checked="checked" />
            <span class="custom-radio-element"></span>
            Option one
          </label>
          <label class="radio custom-radio">
            <input type="radio" name="customRadioButtons2" />
            <span class="custom-radio-element"></span>
            Option two
          </label>
          <label class="radio custom-radio">
            <input type="radio" name="customRadioButtons2" />
            <span class="custom-radio-element"></span>
            Option three
          </label>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Horizontal checkboxes</label>
        <div class="controls">
          <label class="checkbox inline custom-checkbox mrl">
            <input type="checkbox" checked="checked" />
            <span class="custom-checkbox-element"></span>
            Option one
          </label>
          <label class="checkbox inline custom-checkbox mrl">
            <input type="checkbox" />
            <span class="custom-checkbox-element"></span>
            Option two
          </label>
          <label class="checkbox inline custom-checkbox mrl">
            <input type="checkbox" />
            <span class="custom-checkbox-element"></span>
            Option three
          </label>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Vertical checkboxes</label>
        <div class="controls">
          <label class="checkbox custom-checkbox">
            <input type="checkbox" checked="checked" />
            <span class="custom-checkbox-element"></span>
            Option one
          </label>
          <label class="checkbox custom-checkbox">
            <input type="checkbox" />
            <span class="custom-checkbox-element"></span>
            Option two
          </label>
          <label class="checkbox custom-checkbox">
            <input type="checkbox" />
            <span class="custom-checkbox-element"></span>
            Option three
          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="gu gu-1of4">
    <p>Just add a
      <code class="language-css">.custom-radio</code> or <code class="language-css">.custom-checkbox</code>
      class to your existing
      <code class="language-markup">&lt;label class="radio"&gt;</code> or <code class="language-markup">&lt;label class="checkbox"&gt;</code>,
      and just after your <code class="language-markup">&lt;input /&gt;</code> field add an empty
      <code class="language-markup">&lt;span class="custom-radio-element"&gt;</code> or <code class="language-markup">&lt;span class="custom-checkbox-element"&gt;</code>.
    </p>
  </div>

  <div class="gu gu-last">
    <pre><code class="language-markup">&lt;form class="core-form form-horizontal"&gt;
  &lt;div class="control-group"&gt;

    &lt;label class="control-label"&gt;Custom radio buttons&lt;/label&gt;
    &lt;div class="controls"&gt;

      &lt;label class="radio inline custom-radio"&gt;&lt;!-- Add the inline class for horizontal --&gt;
        &lt;input type="radio" name="customRadioButtons1" checked="checked" /&gt;
        &lt;span class="custom-radio-element"&gt;&lt;/span&gt;&lt;!-- This must be just before your text --&gt;
        Option one
      &lt;/label&gt;

      &lt;label class="radio inline custom-radio"&gt;
        &lt;input type="radio" name="customRadioButtons1" /&gt;
        &lt;span class="custom-radio-element"&gt;&lt;/span&gt;
        Option two
      &lt;/label&gt;

    &lt;/div&gt;

    &lt;label class="control-label"&gt;Custom checkboxes&lt;/label&gt;
    &lt;div class="controls"&gt;

      &lt;label class="checkbox inline custom-checkbox"&gt;&lt;!-- Add the inline class for horizontal --&gt;
        &lt;input type="checkbox" checked="checked" /&gt;
        &lt;span class="custom-checkbox-element"&gt;&lt;/span&gt;&lt;!-- This must be just before your text --&gt;
        Option one
      &lt;/label&gt;

      &lt;label class="checkbox inline custom-checkbox"&gt;
        &lt;input type="checkbox" /&gt;
        &lt;span class="custom-checkbox-element"&gt;&lt;/span&gt;
        Option two
      &lt;/label&gt;

    &lt;/div&gt;

  &lt;/div&gt;
&lt;/form&gt;</code></pre>
  </div>
</div>

<div class="gr grsxl mtxl">
  <h3 class="h3" id="custom-select">Custom select</h3>

  <div class="gu gu-1of4">
    <p>Displaying a custom select element while keeping the native drop down menu.</p>
  </div>

  <div class="gu gu-last">

    <form class="core-form form-horizontal">
      <div class="control-group">
        <label class="control-label">Custom select</label>
        <div class="controls">

          <span class="custom-select input-large">
            <select>
              <option value="1">Lorem ipsum dolor sit amet</option>
              <option value="2">Consectetur adipisicing elit</option>
              <option value="3">Sed do eiusmod tempor incididunt ut labore</option>
              <option value="4">Et dolore magna aliqua</option>
              <option value="5">Ut enim ad minim veniam</option>
            </select>

            <label>Choose</label>
            <i class="vicon">&#9662;</i>
          </span>

        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Custom select appended</label>
        <div class="controls">
          <div class="input-append">
            <input type="text" /><span class="custom-select input-medium">
              <label>Choose</label>
              <i class="vicon">&#9662;</i>

              <select>
                <option value="1">Lorem ipsum dolor sit amet</option>
                <option value="2">Consectetur adipisicing elit</option>
                <option value="3">Sed do eiusmod tempor incididunt ut labore</option>
                <option value="4">Et dolore magna aliqua</option>
                <option value="5">Ut enim ad minim veniam</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </form>

    <pre><code class="language-markup">&lt;span class="custom-select"&gt;
  &lt;label&gt;Choose&lt;/label&gt;
  &lt;i class="vicon"&gt;&amp;#9662;&lt;/i&gt;
  &lt;select&gt;
    &lt;option&gt;Lorem&lt;/option&gt;
    &lt;option&gt;Ipsum&lt;/option&gt;
  &lt;/select&gt;
&lt;/span&gt;</code></pre>

    <p>The label and icon tags can be after the select tag:</p>

    <pre><code class="language-markup">&lt;span class="custom-select"&gt;
  &lt;select&gt;
    &lt;option&gt;Lorem&lt;/option&gt;
    &lt;option&gt;Ipsum&lt;/option&gt;
  &lt;/select&gt;
  &lt;label&gt;Choose&lt;/label&gt;
  &lt;i class="vicon"&gt;&amp;#9662;&lt;/i&gt;
&lt;/span&gt;</code></pre>

  </div>
</div>

<div class="gr grsxl mtxl">
  <h3 class="h3" id="asynchronous-upload">Asynchronous files upload</h3>

  <div class="gu gu-1of4">
    <p>Use HTML5 Form Data when possible and fallback to hidden iframe in &ldquo;less capable&rdquo; browsers.</p>
  </div>
  <div class="gu gu-last">
    <form class="core-form form-horizontal form-async-upload" id="async-test-form" enctype="multipart/form-data" action="{{path}}/doc/xhr/file-upload-success.html" method="GET">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input01">Some input</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="input01" name="input01"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fileInput">File input</label>
          <div class="controls">
            <input class="input-file" id="fileInput" type="file" name="file" />
          </div>
        </div>
        <div class="form-actions ptm">
          <button type="submit" class="btn btn-secondary">Upload</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="gr grsxl mtxl">
  <div class="gu gu-1of4">
    <p>Just add a
      <code class="language-css">.form-async-upload</code> class to your form.<br />
      You also have to specify an id for it in order to receive the callbacks events correctly.
    </p>
  </div>

  <div class="gu gu-last">
    <pre class=" language-markup">
<code class="language-markup">&lt;form class="core-form form-horizontal form-async-upload"
      id="upload_file" enctype="multipart/form-data" action="/upload" method="POST"&gt;
   ...
&lt;/form&gt;</code></pre>
  </div>
</div>

<div class="gr grsxl mtl">
  <div class="gu gu-1of4 gu-m-1of1">
    <p>Events listened and triggered by the asynchronous file upload controller.</p>
  </div>
  <div class="gu gu-last">

    <table class="table">
      <thead>
        <tr>
          <th>Events listened by the controller</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="lang-javascript">page.notify('file_upload: submit', selector);</code>
          </td>
          <td>
            Submit the form identified by the css 3 <code class="lang-javascript">selector</code> (exemple : <code class="lang-javascript">"#myForm"</code>)
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>Events triggered by the controller</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="lang-javascript">page.notify("file_upload: submitted", data);</code>
          </td>
          <td>
            The file upload controller sends this event when the form is triggered.
            The variable <code class="lang-javascript">data.id</code> contains the CSS id of the form (in order for you to identify wich form was submitted if several are present on the page and take actions on it like display a loading state).
          </td>
        </tr>
        <tr>
          <td>
            <code class="lang-javascript">page.notify("file_upload: response", data);</code>
          </td>
          <td>
            The file upload controller sends this event when the form is successfully submitted.<br />
            The variable <code class="lang-javascript">data.resp</code> contains the JSON response sent by the server and <code class="lang-javascript">data.id</code> the CSS id of the form.<br />
            <strong>Important note :</strong> the server response has to be sent in <code class="lang-javascript">text/html</code> or <code class="lang-javascript">text/plain</code> content-type in order to be handled by Internet Explorer, otherwise it will fail.
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

</div>

</div>

<script src="{{path}}/test/lib/sinon-1.6.0.js"></script>
<script src="{{path}}/release/js/placeholder.js"></script>
<script src="{{path}}/release/js/file_upload.js"></script>
<script src="{{path}}/release/js/select.js"></script>
