<p>Visual identity & branding colors</p>

{{#each data}}
<div class="bx pan context">
  <div class="gr">
    {{#each values}}
      <div class="gu gu-1of{{../count}} gu-s-1of1">
        <div class="bg bg-{{@key}}">
        </div>
        {{#markdown}}
```scss
@{{@key}}: {{this}}
```
        {{/markdown}}
        {{this.count}}
      </div>
    {{/each}}
  </div>
</div>
{{/each}}

