<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{site.name}}{{#if title}} | {{ title }}{{else}}{{/if}}</title>
  <meta name="description" content="{{site.description}}" />
  <link rel="icon" href="{{site.assets}}/img/tetra-ui/favicon.png" />
  {{#if rtl}}
    <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc-rtl.css" />
  {{else}}
    <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc.css" />
  {{/if}}
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' rel='stylesheet' type='text/css'>
  <script src="{{site.assets}}/js/vendor/jquery.js"></script>
  <script src="{{site.assets}}/js/vendor/scrollspy.js"></script>
  <script src="{{site.assets}}/js/vendor/affix.js"></script>
  <!--[if lt IE 8]><script src="{{site.assets}}/js/vendor/json2.js"></script><![endif]-->
</head>

<body{{#if rtl}} dir="rtl" class="rtl"{{/if}} data-spy="scroll" data-target=".sidebar-doc" data-offset="80">

  <section class="sidebar affix affix-sidebar">
    {{> sidebar-doc }}
  </section>

  <header class="header affix affix-nav">
    <div class="plxl prxl">
      <div class="gr">
        <div class="gu gu-2of3">
          {{> nav-doc }}
        </div>
        <div class="gu-last tar">
          {{> toggle-mode-doc }}
        </div>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="fluid-container ptl pbl">
    {{> body }}
    <footer class="footer">
        <p class="gray tac mbn">{{site.brand}}</p>
    </footer>
    </div>
  </main>

  <script src="{{site.assets}}/js/doc/main.js"></script>

</body>
</html>
