<!DOCTYPE html>
<!--[if IE 7]><html class="lt-ie11 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="lt-ie11 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]><html class="lt-ie11 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 10]><html class="lt-ie11" lang="en"> <![endif]-->
<!--[if gt IE 10]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{site.name}}{{#if title}} | {{ title }}{{else}}{{/if}}</title>
  <meta name="description" content="{{site.description}}" />
  <link rel="icon" href="{{site.assets}}/img/tetra-ui/favicon.png" />
  <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc.css" title="ltr"/>
  <script src="{{site.assets}}/js/vendor/jquery.js"></script>
  <script src="{{site.assets}}/js/vendor/scrollspy.js"></script>
  <!--[if lt IE 8]><script src="{{site.assets}}/js/vendor/json2.js"></script><![endif]-->
</head>

<body{{#if rtl}} dir="rtl"{{/if}} class="{{#if rtl}}rtl{{/if}}" data-spy="scroll" data-target=".sidebar-doc" data-offset="80">



  <aside class="sidebar affix affix-sidebar gu-1of5 gu-m-1of4 gu-s-1of1">
    {{> sidebar-doc }}
  </aside>

  <header class="header affix affix-nav gu-4of5 gu-m-3of4 gu-s-1of1">
    <div class="plxl prxl">
      <div class="gr">
        <div class="gu gu-2of3 gu-m-1of1">
          {{> nav-doc }}
        </div>
        <div class="gu-last tar tal-m">
          {{> toggle-mode-doc }}
        </div>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="fluid-container ptl pbl">
    {{> body }}
    <footer class="footer">
        <p class="gray tac mbn">{{site.brand}}</p>
    </footer>
    </div>
  </main>

  <script src="{{site.assets}}/js/doc/main.js"></script>

</body>
</html>
