<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tetra UI{{#if title}} | {{ title }}{{else}}{{/if}}</title>
  <meta name="description" content="{{site.description}}" />
  <link rel="icon" href="{{site.assets}}/img/tetra-ui/favicon.png" />
  {{#if rtl}}
    <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc-rtl.css" />
  {{else}}
    <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc.css" />
  {{/if}}
  <script src="{{site.assets}}/js/vendor/tetra-js.js"></script>
  <script src="{{site.assets}}/js/conf/tetra-js.js"></script>
  <!--[if lt IE 8]><script src="{{site.assets}}/js/vendor/json2.js"></script><![endif]-->
</head>

<body{{#if rtl}} dir="rtl" class="rtl"{{/if}}>

<div class="wrap">
  <div class="header">
    <div class="fluid-container">
      <h1 class="fl">Powered by <i class="vicon">o</i>
        <a href="{{site.path}}/" class="logo">Tetra UI</a>
      </h1>
      <a href="{{site.repo}}" class="fr mts btn btn-default btn-large github">Tetra UI on GitHub</a>
    </div>
  </div>

  <div class="headline">
    <div class="fluid-container">
      <h1 class="h1">A smart, easy-to-use toolkit
        <span class="sub">for creating rich interfaces in lightning speed!</span>
      </h1>
    </div>
  </div>

  <div class="content fluid-container">
    {{> nav-doc }}

    <div class="nav-tabs-section">
      {{> body }}
    </div>
  </div>
</div>

<div class="footer">
  <div class="copy fluid-container">
    <p>{{site.brand}}</p>
  </div>
</div>

</body>
</html>
