<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{site.name}}{{#if title}} | {{ title }}{{else}}{{/if}}</title>
  <meta name="description" content="{{site.description}}" />
  <link rel="icon" href="{{site.assets}}/img/tetra-ui/favicon.png" />
  {{#if rtl}}
    <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc-rtl.css" />
  {{else}}
    <link rel="stylesheet" href="{{site.assets}}/css/tetra-ui-doc.css" />
  {{/if}}
  <script src="{{site.assets}}/js/vendor/jquery.js"></script>
  <script src="{{site.assets}}/js/vendor/scrollspy.js"></script>
  <script src="{{site.assets}}/js/vendor/affix.js"></script>
  <!--[if lt IE 8]><script src="{{site.assets}}/js/vendor/json2.js"></script><![endif]-->
</head>

<body{{#if rtl}} dir="rtl" class="rtl"{{/if}} data-spy="scroll" data-target=".sidebar-doc" data-offset="50">

  <div class="gr">

    <section class="sidebar gu gu-1of5 gu-m-1of4">
      {{> sidebar-doc }}
    </section>

    <div class="gu-last">

      <header class="header plxl prxl">
        <div class="gr">
          <div class="gu gu-2of3">
            {{> nav-doc }}
          </div>
          <div class="gu-last tar">
            {{> toggle-mode-doc }}
          </div>
        </div>
      </header>

      <main class="main paxl">
        {{> body }}
        <footer class="footer">
            <p class="gray tac mbn">{{site.brand}}</p>
        </footer>
      </main>

    </div>

  </div>

</body>
</html>
