<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tetra UI{{#if title}} | {{ title }}{{else}}{{/if}}</title>
  <link rel="icon" href="{{path}}/dist/img/tetra-ui/favicon.png" />
  {{#if rtl}}
    <link rel="stylesheet" href="{{path}}/dist/css/tetra-ui-doc-rtl.min.css" />
  {{else}}
    <link rel="stylesheet" href="{{path}}/dist/css/tetra-ui-doc.min.css" />
  {{/if}}
  <link rel="stylesheet" href="{{path}}/bower_components/prism-css/index.css" />
  <!--[if lt IE 8]><script src="{{path}}/bower_components/json2/json2.js"></script><![endif]-->
  <script src="{{path}}/bower_components/tetra-js/index.js"></script>
  <script src="{{path}}/dist/js/conf/tetra-js.js"></script>
</head>

<body{{#if rtl}} dir="rtl" class="rtl"{{/if}}>

<div class="wrap">
  <div class="header">
    <div class="fluid-container">
      <h1 class="fl">Powered by <i class="vicon">o</i>
        <a href="{{path}}/" class="logo">Tetra UI</a>
      </h1>
      <a href="https://github.com/viadeo/tetra-ui" class="fr mts btn btn-default btn-large github">Tetra UI on GitHub</a>
    </div>
  </div>

  <div class="headline">
    <div class="fluid-container">
      <h1 class="h1">A smart, easy-to-use toolkit
        <span class="sub">for creating rich interfaces in lightning speed!</span>
      </h1>
    </div>
  </div>

  <div class="content fluid-container">
    {{> nav-doc }}

    <div class="nav-tabs-section">
      {{> body }}
    </div>
  </div>
</div>

<div class="footer">
  <div class="copy fluid-container">
    <p>&copy;2013 APVO CORP.</p>
  </div>
</div>

<script src="{{path}}/bower_components/prism-js/index.js"></script>

</body>
</html>