<ul class="nav nav-menu">
  <li{{#is title "Grid"}} class="active"{{/is}}>
    <a href="{{path}}/index.html">Grid</a>
  </li>
  <li{{#is title "Rich containers"}} class="active"{{/is}}>
    <a href="{{path}}/doc/rich-containers.html">Rich containers</a>
  </li>
  <li{{#is title "Typography"}} class="active"{{/is}}>
    <a href="{{path}}/doc/typography.html">Typography</a>
  </li>
  <li{{#is title "Forms"}} class="active"{{/is}}>
    <a href="{{path}}/doc/forms.html">Forms</a>
  </li>
  <li{{#is title "Helpers"}} class="active"{{/is}}>
    <a href="{{path}}/doc/helpers.html">Helpers</a>
  </li>
  <li{{#is title "Variables"}} class="active"{{/is}}>
    <a href="{{path}}/doc/variables.html">Variables</a>
  </li>
  <li{{#is title "Components"}} class="active"{{/is}}>
    <a href="{{path}}/doc/components.html">Components</a>
  </li>
  <li{{#is title "Icons"}} class="active"{{/is}}>
    <a href="{{path}}/doc/icons.html">Icons</a>
  </li>
  <li{{#is title "Dialogs"}} class="active"{{/is}}>
    <a href="{{path}}/doc/dialogs.html">Dialogs</a>
  </li>
  <li{{#is title "Right to left"}} class="active"{{/is}}>
    <a href="{{path}}/doc/right-to-left.html">Right to left</a>
  </li>
  <li{{#is title "Responsive"}} class="active"{{/is}}>
    <a href="{{path}}/doc/responsive.html">Responsive</a>
  </li>
</ul>
