{{#each this}}
  <div class="{{slug}}-content section {{#unless @first}}divider-before ptl{{/unless}}">
  <h1 id="{{slug}}">{{title}}</h1>
    {{{render slug this}}}
    {{#if nav}}
      {{#each nav}}
        <h2 id="{{slug}}">{{title}}</h2>
          <div class="{{slug}}-content category mbxl">
          {{{render slug this}}}
          </div>
      {{/each}}
    {{/if}}
  </div>
{{/each}}
